/* Mise en page général avec display grid */

.site__header {
    grid-area: header;
    // padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: antiquewhite;
}

.site__main {
    grid-area: main;
    overflow: hidden;
    /* Resolves issue with <pre> elements forcing full width. */
}

.site__footer {
    grid-area: footer;
    background-color: antiquewhite;
}

.site__aside {
    grid-area: aside;
}

.site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    row-gap: 50px;
    background-color: rgb(191 232 255);

    @media screen and (min-width: 1000px) {
        grid-template-columns: 20% auto;
        grid-template-areas:
            "header header"
            "aside main"
            ". main"
            "footer footer";
    }
}