// .blocflex {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   // Cette déclaration sera meilleur quand min() sera mieux supporté
//   // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
//   gap: 2rem;

//   article {
//     border: 1px solid #aaa;
//     padding: 1rem;
//   }
// }

.blocflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5rem;

  article {
    height: 250px;
    flex: 1 1 300px;
    border: 1px solid #aaa;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
}

.blocflex__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  order: 1;

  h4,
  h5,
  p {
    margin: 1rem;
  }
}

.blocflex__galerie {
  height: 100% !important;
  border: none !important;
  order: 0;
  flex: 1 1 100% !important;

  &:hover {
    box-shadow: none;
  }

  figure {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }
}