.blocflex {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;

    article {
        height: 250px;
        flex: 1 1 200px;
        border: 1px solid #aaa;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
}