.blocflex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // Cette déclaration sera meilleur quand min() sera mieux supporté
    // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 2rem;
  
    article {
      border: 1px solid #aaa;
      padding: 1rem;
    }
  }
  
.blocflex__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blocflex__galerie {}