main {
    margin: 0 6rem 3rem 5rem;

    section {
        background-color: #fff;
        font-size: clamp(0.5rem, -0.125rem + 2vw, 1rem);
        font-family: Arial, Helvetica, sans-serif;
        padding: 1rem 0;

        h1 {
            font-size: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
        }

        hr {
            margin-top: 2rem;
            border: 0.25px solid #909090;
        }
    }

    article:hover {
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    }

    p {
        font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
        line-height: 2rem;
    }

    hr:last-of-type {
        display: none;
    }
}