/* ------------------------------------------------------------- Pied de page */
.site__footer {
    width: 100%;
    background: rgb(63,63,63);
    background: linear-gradient(0deg, rgba(63,63,63,1) 0%, rgba(109,109,109,1) 100%);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // On peut mettre les enfants d'une balise à l'intérieur du sélecteur
    /* --------------------------------------------- Sections du pied de page */
    section {
        width: 100%;
        flex: 1 1 200px;
        height: 12rem;
        padding: 1rem;
    }
}