/* ------------------------------------------------------------------- Entête */
.site__header {
    margin: 0;

    h1 {
        margin: 5rem 5rem 0 5rem;
    }

    h2 {
        margin: 0 5rem;
    }

    section {
        a {
            margin-left: 3rem;
        }
    }
}

/* --------------------------------------------------------------------- Logo */
.site__header__logo {
    color: #fff;
    background: rgb(19, 19, 19);
    background: linear-gradient(0deg, rgba(19, 19, 19, 1) 0%, rgba(35, 35, 35, 1) 100%);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------------------------------------- menu-entete */
.menu-entete-container {
    // nav
    padding-right: 5rem;

    .menu {
        //ul
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: flex-end;

        .menu-item {
            //li
            color: rgb(0, 35, 85);

            a {
                font-size: clamp(0.5rem, -0.125rem + 2vw, 1rem);
                ;
                display: block;
                padding: 5px 20px;
            }
        }
    }
}